<h3>Listing palettes for <%= current_user.name %> </h3>
 
<table class="projects-table">
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>File</h1>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @palettes.each do |palette| %>
  <tr>
    <td><%= palette.label %></td>
    <td><%= link_to 'Show', palette %></td>
    <td><%= link_to 'Edit', edit_palette_path(palette) %></td>
    <td><%= link_to 'Remove', palette, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<style>
.projects-table tr td{
    padding: 15px;
}
</style>