<h3>Listing projects for <%= current_user.name %> </h3>
 
<table class="projects-table">
  <tr>
    <th>Title</th>
    <th>Summary</th>
	<th>File</h1>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Remove', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Palettes', palettes_path %>

<br />
<br />  
<%= link_to 'New project', new_project_path %>

<style>
.projects-table tr td{
    padding: 15px;
}
</style>