

<%= simple_form_for @project, url_path: projects_path, html: { multipart: true } do |f| %>
<!-- 
  <div id="project">
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.file_field :img_file %><br><br>
  </div>

  <div id="product-category">
    <%= f.select :product_category_id, ProductCategory.all.map { |r| [r.label, r.id] }, include_blank: false  %><br>
    <%= f.simple_fields_for :product_category do |builder| %>
      <%= builder.input :label, :label => false, :placeholder => "ProductCategory Label" %>
    <% end %>
  </div>

  <div id="palette">
    <%= f.select :palette_id, Palette.all.map { |r| [r.label, r.id] }, include_blank: false  %><br>
    <%= f.simple_fields_for :palette do |builder| %>
      # <%= builder.input :label, :label => false, :placeholder => "Palette Label" %>
      <%= render 'palette_fields', f: builder %>
    <% end %>
  </div>
  <%= f.button :submit, "Create" %>
   -->
  <div id="tabs">

    <ul>
      <li><a href="#tabs-1">Project</a></li>
      <li><a href="#tabs-2">Product Category</a></li>
      <li><a href="#tabs-3">Palette</a></li>
    </ul>
    
    <div id="tabs-1">
      <%= f.input :name %>
      <%= f.input :description, as: :text %>
    </div>

    <div id="tabs-2">
      Choose a file
      <%= f.file_field :img_file %> <br>

      Pick a category
      <%= f.select :product_category_id, ProductCategory.all.map { |r| [r.label, r.id] }, include_blank: false  %><br>
      
      Or createa a new category
      <%= f.simple_fields_for :product_category do |builder| %>
        <%= builder.input :label, :label => false, :placeholder => "ProductCategory Label" %>
      <% end %>
    </div>
    
    <div id="tabs-3">
      Select an existing palette:
      <%= f.select :palette_id, Palette.all.map { |r| [r.label, r.id] }, include_blank: false  %><br>

      Or create a new palette:
      <%= f.simple_fields_for :palette do |builder| %>
        <%= render 'palette_fields', f: builder %>
      <% end %>




      <%= f.button :submit, "Create" %>
    </div>


  </div>

<% end %>

<style>
textarea, input {
    max-height: 200px;
    width: 400px;
}
</style>

  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>