<h3> Project <%=@project.id=%> </h3>
<table class="project">
    <tr>
        <td>Project Name: </td><td><%=@project.name=%></td>
    </tr>
    <tr>
        <td>Project Description:</td> <td><%=@project.description=%></td>
    </tr>
	<tr>
		<%= image_tag @project.file.url %>
	</tr>
    <tr>
       <td>Customer:</td> <td><%= @project.customer.name %></td>
    </tr>
    <tr>
        <td>Last Updated At:</td> <td><%=@project.updated_at=%>
    </tr>
    <tr>
        <td>Created At:</td> <td><%=@project.created_at=%></td>
    </tr>
</table>

<br />

<%= link_to 'New product', new_product_path(project_id: @project.id) %>

<br /><br /><br />
<h4>Products associated with this Project</h4>
<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= link_to 'Show', product %></td>
    </tr>
  <% end %>
</table>

<br /><br /><br />


<h4>Palettes associated with this Project</h4>
<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
  <% @palettes.each do |palette| %>
    <tr>
      <td><%= palette.label %></td>
      <td><%= link_to 'Show', palette %></td>
    </tr>
  <% end %>
</table>


<style>
tr td, tr th{
    min-width: 150px;
    padding: 2px;
    text-align: left;
}
</style>