<h3> Project <%=@project.id=%> </h3>

<table>
    <tr>
        <td>Project Name: </td><td><%=@project.name=%></td>
    </tr>
    <tr>
        <td>Project Description:</td> <td><%=@project.description=%></td>
    </tr>
    <tr>
       <td>Customer:</td> <td><%=@project.customer_id=%></td>
    </tr>
    <tr>
        <td>Last Updated At:</td> <td><%=@project.updated_at=%>
    </tr>
    <tr>
        <td>Created At:</td> <td><%=@project.created_at=%></td>
    </tr>
</table>



