<h3> Catalogue <%=@catalogue.id=%> </h3>
<table class="catalogue">
    <tr>
        <td>Catalogue Name: </td><td><%=@catalogue.label=%></td>
    </tr>
    <tr>
        <td>Catalogue Description:</td> <td><%=@catalogue.description=%></td>
    </tr>
    <tr>
       <td>User:</td> <td><%= @catalogue.user.name %></td>
    </tr>
    <tr>
        <td>Last Updated At:</td> <td><%=@catalogue.updated_at=%>
    </tr>
    <tr>
        <td>Created At:</td> <td><%=@catalogue.created_at=%></td>
    </tr>
</table>

<br />

<h4>Products associated with this catalogue</h4>
<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= image_tag product.project.img_file.url(:thumb) %></td>

      <td><%= link_to 'Show',   product %></td>
      <% if current_user==@catalogue.user %>
        <td><%= link_to 'Edit',   edit_product_path %></td>
        <td><%= link_to 'Delete', product %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Edit Catalogue', edit_catalogue_path(catalogue_id: @catalogue.id) %>

<style>
tr td, tr th{
    /*min-width: 150px;*/
    padding: 5px;
    text-align: left;
}
</style>