<h3> Product <%=@product.id=%> </h3>

<table>
    <tr>
        <td>Product Name: </td><td><%=@product.name=%></td>
    </tr>
    <tr>
        <td>Product Category: </td><td><%=@product.product_category_id=%></td>
    </tr>
    <tr>
        <td>Product Description:</td> <td><%=@product.description=%></td>
    </tr>
    <tr>
       <td>Project:</td> <td><%=@product.project_id=%></td>
    </tr>
    <tr>
        <td>Last Updated At:</td> <td><%=@product.updated_at=%>
    </tr>
    <tr>
        <td>Created At:</td> <td><%=@product.created_at=%></td>
    </tr>
</table>