<!DOCTYPE html>
<html>
<head>
  <title>ArtisanMarket</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "projects" %>

  <%= csrf_meta_tags %>
    <style>
      #container {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" id="main-menu">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Artisania</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>

      			  <% if user_signed_in? %>
                <li><%= link_to 'Projects', projects_path %></li>
                <% if current_user.artisan? %>
                  <li><%= link_to 'Palettes', palettes_path %></li>
                <% end %>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      			  <% else %>
      			  	<li><%= link_to "Login", new_user_session_path %></li>
      			  <% end %>
			    
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div id="container">
        <%= yield %>
    </div>

</body>
</html>
